<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mwssilva</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.0/dist/vuetify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router@4"></script>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
          <v-toolbar>
            <v-btn to="/" >Home</v-btn>
            <v-btn to="/pg-conversor">Conversor Taxas</v-btn>
            <v-btn to="/pg-preco-medio">Preco Medio</v-btn>
            <v-btn to="/pg-velha">Jogo da Velha</v-btn>
          </v-toolbar>
 
          <router-view></router-view>
      </v-main>
    </v-app>
  </div>

  <!-- Home Component -->
  <script type="text/x-template" id="pg-home">
    it works
  </script>
  
  <script type="text/x-template" id="pg-embedded">
    <iframe :src="url" style="width: 100vw; min-height: 87vh;"></iframe>
  </script>

  <script type="text/x-template" id="pg-conversor">
    <h5>Conversor Taxas & Simulador Renda Fixa (mas são valores aproximados, tá faltando alguma coisa)</h5>
    <v-container fluid>
    <v-row>
      <v-text-field label="cdi(bcb.sgs.12)" class="v-col-12 v-col-md-3" disabled>{{ dados.cdi.valor }} em {{ dados.cdi.data }}</v-text-field>
      <v-text-field label="%aa(252)" class="v-col-12 v-col-md-3" type="number" step="0.01" suffix="%/252" :model-value="dados.ao252" @update:model-value="v2=>{let v=v2.replace(',','.'); let tmp=Number(v); dados.aodia = converterTaxas(tmp,252,1); dados.aomes = converterTaxas(tmp,252,30); dados.aoano=converterTaxas(tmp,252,360); dados.ao252 = tmp; }"/>
      <v-text-field label="%aa(360)" class="v-col-12 v-col-md-3" type="number" step="0.01" suffix="%/360" :model-value="dados.aoano" @update:model-value="v2=>{let v=v2.replace(',','.'); let tmp=Number(v); dados.aodia = converterTaxas(tmp,360,1); dados.aomes = converterTaxas(tmp,12,1);   dados.aoano = tmp;                       dados.ao252 = converterTaxas(tmp,360,252); }"/>
      <v-text-field label="%am(30)" class="v-col-12 v-col-md-3" type="number" step="0.01" suffix="%/30"  :model-value="dados.aomes" @update:model-value="v2=>{let v=v2.replace(',','.'); let tmp=Number(v); dados.aodia = converterTaxas(tmp,30,1);  dados.aomes = tmp;                        dados.aoano = converterTaxas(tmp,1,12);  dados.ao252 = converterTaxas(tmp,30,252); }"/>
    </v-row>
    <v-row>
      <v-text-field label="%ad" class="v-col-12 v-col-md-2" type="number" step="0.01" suffix="%/1"   :model-value="dados.aodia" @update:model-value="v2=>{let v=v2.replace(',','.'); let tmp=Number(v); dados.aodia = tmp;                       dados.aomes = converterTaxas(tmp,1,30);   dados.aoano = converterTaxas(tmp,1,360); dados.ao252 = converterTaxas(tmp,1,252); }" />
      <v-text-field class="v-col-12 v-col-md-2" type="number" step="0.01" suffix="%cdi" :model-value="dados.rate" @update:model-value="v2=>{dados.rate=v2.replace(',','.');}" :hint="`${((dados.aodia*dados.rate))}%`" persistent-hint/>
      
    
      <v-text-field label="capital" class="v-col-12 v-col-md-2" type="number" step="0.01" prefix="R$" :model-value="dados.capital" @update:model-value="v2=>{dados.capital=v2.replace(',','.');}" />
        <v-text-field :label="`bruto ao dia`" class="v-col-12 v-col-md-2" disabled prefix="R$" :model-value="dados.capital*(((dados.aodia*dados.rate)/100))" />
      <v-select     label="imposto" class="v-col-12 v-col-md-2" prefix="dias" v-model="dados.ir" :items="dados.faixas" :hint="`R$ ${dados.capital*(((dados.aodia*dados.rate)/100)*(dados.ir))}`" persistent-hint/>
    </v-row>
    <v-row>
      <v-text-field label="~liquido ao dia" class="v-col-12 v-col-md-2" disabled prefix="R$" :model-value="dados.capital*(((dados.aodia*dados.rate)/100)*(1-dados.ir))" />

      <v-text-field label="~liquido ao mes(20)" class="v-col-12 v-col-md-2" disabled prefix="R$" :model-value="dados.capital*(converterTaxas((dados.aodia*dados.rate)/100,1,20)*(1-dados.ir))" />
      
      <v-text-field label="~liquido ao mes(30)" class="v-col-12 v-col-md-2" disabled prefix="R$" :model-value="dados.capital*(converterTaxas((dados.aodia*dados.rate)/100,1,30)*(1-dados.ir))" />
      
      <v-text-field label="~liquido ao ano(252)" class="v-col-12 v-col-md-2" disabled prefix="R$" :model-value="dados.capital*(converterTaxas((dados.aodia*dados.rate)/100,1,252)*(1-dados.ir))" />
      
      <v-text-field label="~liquido ao ano(360)" class="v-col-12 v-col-md-2" disabled prefix="R$" :model-value="dados.capital*(converterTaxas((dados.aodia*dados.rate)/100,1,360)*(1-dados.ir))" />
    </v-row>
    </v-container>
    <footer>
        https://calculadorarendafixa.com.br/
        <br>https://api.bcb.gov.br/dados/serie/bcdata.sgs.12/dados/ultimos/1?formato=json
    </footer>
  </script>

  <script type="text/x-template" id="pg-preco-medio">
    <v-container fluid>
    <v-row v-for="(p,index) of dados.precos">
      
      <v-text-field class="v-col-3" type="number" step="1" label="qtd" suffix="UN" :model-value="p.qtd" @update:model-value="v2=>{let v=v2.replace(',','.'); let tmp=Number(v); p.qtd = tmp; }"/>
      <v-text-field class="v-col-3" type="number" step="0.01" label="preço" prefix="R$" :model-value="p.preco" @update:model-value="v2=>{let v=v2.replace(',','.'); let tmp=Number(v); p.preco = tmp; }"/>
      <v-text-field class="v-col-3" label="subtotal" disabled>R$ {{ p.qtd*p.preco }}</v-text-field>
      <v-col cols="3">
        <v-btn  :disabled="dados.precos.length==1" @click="dados.precos.splice(index, 1)" >Del</v-btn>
        <v-btn v-if="index==dados.precos.length-1" @click="dados.precos.push({qtd:1,preco:10})" >Add</v-btn>
      </v-col>
    </v-row>
    
    <v-divider />
    
    <v-row>
      <v-text-field class="v-col-3" label="qtd_total" disabled>{{ dados.precos.reduce((a,b)=>a+=b.qtd,0) }}</v-text-field>
      <v-text-field class="v-col-3" label="preço_avg" disabled>R$ {{ total/dados.precos.reduce((a,b)=>a+=b.qtd,0) }}</v-text-field>
      <v-text-field class="v-col-3" label="total" disabled>R$ {{ total }}</v-text-field>
      <v-col cols="3">
        <v-btn @click="dados.precos=[{qtd:1,preco:10}]" >Clear</v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-text-field label="fator" hint="margem de lucro" class="v-col-3" type="number" step="0.01" suffix="%" :model-value="dados.margem" @update:model-value="v2=>{let v=v2.replace(',','.'); let tmp=Number(v); dados.margem = tmp; }"/>
      </v-col>
    </v-row>
    <v-row>
      <v-text-field class="v-col-3" disabled>{{ dados.precos.reduce((a,b)=>a+=b.qtd,0) }}</v-text-field>
      <v-text-field class="v-col-3" label="preço ajustado" disabled>R$ {{ total/dados.precos.reduce((a,b)=>a+=b.qtd,0)*dados.margem }}</v-text-field>
      <v-text-field class="v-col-3" disabled>R$ {{ total *dados.margem }}</v-text-field>
    </v-row>
    </v-container>
  </script>

  <script>
    const { createApp, h, reactive, onBeforeMount, computed } = Vue;
    const { createRouter, createWebHashHistory } = VueRouter;
    const vuetify = Vuetify.createVuetify({
      theme: {
        defaultTheme: 'dark',
      },
      defaults:{
        global: {
          density:'compact',
          ripple: false,
        },
        VTextField:{
          persistentPlaceholder: true
        }
      }
    });

    const converterTaxas = (tx, periodo2,periodo1)=>{
      return (((1 + tx/100)**(periodo1/periodo2))-1)*100
    }

    // Components
    const Home = { template: '#pg-home' };
    const Embedded = { template: '#pg-embedded', props: ['url'] };
    // Define routes
    const routes = [
      {  path: '/', component: Home },
      {  path: '/pg-velha', component: Embedded, props: { url: 'https://mwssilva.github.io/velha.html'} },
      {  path: '/pg-conversor', component: { 
          template: '#pg-conversor',
          setup(){
            const dados = reactive({
              capital:5000, 
              ir:0.225, 
              rate: 1.05,
              cdi:{},
              faixas:[
                {title:'<= 180 (22.5%)',value:0.225},
                {title:'> 180 (20%)',value:0.20},
                {title:'> 360 (17.5%)',value:0.175},
                {title:'> 720 (15%)',value:0.15}
              ] 
            });
            onBeforeMount(async ()=>{
              dados.cdi = (await fetch('https://api.bcb.gov.br/dados/serie/bcdata.sgs.12/dados/ultimos/1?formato=json').then(x=>x.json()).catch(x=>([{data:'99/99/9999',valor:"0.041957"}])))[0];
              dados.ao252 = converterTaxas(dados.cdi.valor*1,1,252)
              dados.aoano = converterTaxas(dados.ao252,252,360)
              dados.aomes = converterTaxas(dados.ao252,252,30)
              dados.aodia = converterTaxas(dados.ao252,252,1)
            });
            return {
              dados,
              converterTaxas,
            }
          },
        } 
      },
      {  path: '/pg-preco-medio', component: { 
          template: '#pg-preco-medio',
          setup(){
            const dados = reactive({
              precos:[{qtd:1,preco:10}], margem:1.1
            });
            const total = computed(()=>dados.precos.reduce((a,b)=>a+=b.qtd*b.preco,0))
            return {
              total,
              dados,
            }
          },
        } 
      },
      {path: '/:_(.*)',  component: { render: ()=> h('h1',{class:'text-center'},'404')}}
    ];

    // Create router
    const router = createRouter({
      history: createWebHashHistory(),
      routes,
    });

    // Create Vue app
    createApp({})
      .use(router)
      .use(vuetify)
      .mount('#app');
  </script>
</body>
</html>
